<?xml version="1.0"?>
<model>
  <name>robotarium</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Zahi Kakish</name>
    <email>zkakish@gmail.com</email>
  </author>

  <description>
    Original sized Robotarium from Georgia Tech.
  </description>
</model>
