<?xml version="1.0"?>
<model>
  <name>robotarium_tabletop</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Zahi Kakish</name>
    <email>zkakish@gmail.com</email>
  </author>

  <description>
    Tabletop of Robotarium for users to apply their own image files upon.
  </description>
</model>
